[user]
	name = crazymaster
	email = ken.i54k@gmail.com
[credential]
	helper = cache
[github]
	user = crazymaster
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = vim
[branch]
	autosetuprebase = always
[pull]
        # from 1.7.9
	rebase = true
