[user]
	name = Kenichi Ito
	email = ken.i54k@gmail.com
[credential]
	helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[github]
	user = crazymaster
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = vim
[alias]
#	status = status -sb
#	diff = diff --color-words
[pager]
	## find /usr/share -name '*contrib*' | grep git
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[push]
	default = simple
[rebase]
	autostash = true
[merge]
	tool = vimdiff3
[diff]
	tool = vimdiff3
	algorithm = histogram
	rename = copies
[difftool]
	prompt = false
[fetch]
	prune = true
